:root {
  --main-bg-color: #FFFFFF;
  --primary-color: #0A2640;
  --secondary-color: #65E4A3;
  --text-color: #000000;
  --primary-font: "Open Sans";
  --secondary-font: 'Manrope';

  font-family: "Open Sans", 'Manrope', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 32px;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--main-bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}